@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

/* Program_Section Styleing ST */

.program_container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.program_contain {
  height: 100%;
  width: 90%;
}

.program_titel {
  height: auto;
  width: 100%;
}
.program_titel h2 {
  color: #131318;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
}
.program_titel p {
  color: rgba(19, 19, 24, 0.60);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  padding: 20px 200px;
}

.program_iner_contain_one {
  height: 60%;
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.pico_left {
  height: 100%;
  width: 50%;
  border-radius: 8px;
  background-image: url("Images/2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pico_right {
  height: 100%;
  width: 50%;
  border-radius: 8px;
  background-image: url("Images/3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.program_iner_contain_two {
  height: 70%;
  width: 100%;
  margin-top: 10px;
}

.pict_center {
  height: 100%;
  width: 100%;
  background-image: url("Images/4.png");
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.primary_bg {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.50);
}

.iner_titer h3 {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 800;
  padding-left: 20px;
}
.iner_titer p {
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  padding: 20px 20px;
}
.iner_titer button {
  color: #FFF;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin-left: 20px;
  background-color: #FF4240;
}

.iner_titer button:hover {
  background-color: #e63d3a;
}
.iner_titer button:active {
  background-color: #cc3634;
}

/* Program_Section Styleing END */


/* ------> NEW SECTION <------ */


/* Footer_Section Styleing ST*/

.footer_container_main {
  height: 70vh;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 30%;
  display: flex;
  justify-content: space-between  ;
}


.footer_container_one {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
}


.get_in_touch {
  height: 60%;
  padding-left: 50px;
}
.get_in_touch h3 {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 800;
}
.get_in_touch p {
  color: #ffffff99;
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
  padding: 20px 0;
}
.get_in_touch li {
  list-style: none;
  padding: 10px 0;
}
.get_in_touch li i {
  padding-right: 10px;
}


.footer_container_two {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}


.fct_left {
  height: 60%;
  width: 50%;
  padding-left: 50px;
}
.fct_left h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.fct_left li {
  list-style: none;
  color: #ffffff99;
  font-size: 1rem;
  font-weight: 500;
  line-height: 40px;
}


.fct_right {
  height: 60%;
  width: 50%;
  padding-left: 50px;
}
.fct_right h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.fct_right li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 40px;
}


.footer_container_three {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}


.services {
  height: 60%;
  padding-left: 50px;
}
.services h3 { 
  font-size: 1.2rem;
  font-weight: 700;
}
.services li {
  list-style: none;
  color: #ffffff99;
  font-size: 1rem;
  font-weight: 500;
  line-height: 40px;
}

/* Footer_Section Styleing END*/










@media screen and (max-width: 600px) {

  /* Responsive patr of [ Program Section ] ST */

  .program_titel p {
    padding: 20px 10px;
  }

  .program_iner_contain_one {
    height: 100%;
    flex-direction: column;
  }

  .pico_left {
    height: 100%;
    width: 100%;
  }

  .pico_right  {
    height: 100%;
    width: 100%;
  }

  .pict_center {
    height: 70%;
    width: 100%;
  }

  .iner_titer h3 {
    font-size: 1.6rem;
  }
  .iner_titer p  {
    padding: 10px 20px;
  }

  /* Responsive patr of [ Program SEction ] END */

}